server:
  port: 9005

jwt:
  access-validity: 1800000
  refresh-validity: 604800000
  access-secret: 0cb8be12c0d3beb399670730c850e2013c2f7dcc07fbbdd7224b0920abb423f1545a96cdd5addcc74cabee72b6c75a8977be34b130c8e53fc14f0324fb8df187
  refresh-secret: 0cb8be12c0d3beb399670730c850e2013c2f7dcc07fbbdd7224b0920abb423f1545a96cdd5addcc74cabee72b6c75a8977be34b130c8e53fc14f0324fb8df187

passport:
  validity: 100000
  secret-key: key
  hmac-algorithm: algo

spring:
  # RDS: postgresql
  datasource:
    url: jdbc:postgresql://localhost:5432/rebookdb
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver

  # jpa 설정
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update # (개발: update, 운영: validate 또는 none 권장)
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  # Redis 설정
  data:
    redis:
      host: localhost
      port: 6379
      password: redis123

# Actuator 및 모니터링
management:
  endpoints:
    web:
      exposure:
        include: "*"

# api-cods 설정
springdoc:
  api-docs:
    enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    instance-id: ${spring.application.name}:main


